.userMain {
  background-image: url("../../assets/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.userMainContent {
  background-color: white;
  min-height: 500px;
  max-width: 95%;
  margin: 2% auto;
  border-radius: 10px;
}

.mainSub{
  padding: 2%;
}

.menu{
  display: flex;
  justify-content: space-around;
  margin: 5% auto;
}

.menuHeading{
  margin-top: 5%;
  text-align: center;
  text-decoration: underline;
}

.horizontalRow{
  width: 80%;
  margin: auto;
  color: rgb(165, 165, 165);
}